<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} Dashboard - Smart Student Expense Tracker {% endblock%}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <div class="dashboard-layout">
    <aside class="sidebar">
      <h2 >🎓 Expense Tracker</h2>
      <nav>
        <a href="/home">Dashboard</a>
        <a href="/add_transaction" class="add-btn">+ Add Transaction</a>
        <a href="/income">Income</a>
        <a href="/expense">Expenses</a>
        <a href="#">Reports</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
      </nav>
    </aside>

    {% block content %}{% endblock %}
  </div>
</body>
</html>


