 {% extends "base.html" %}

{% block title %}Income{% endblock %}

{% block content %}
    <section class="transactions-section">
        <h2>Expense History</h2>
        <table>
          <thead>
            <tr>
               <th>Title</th>
              <th>Category</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Notes</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% if expense %}
               {% for trans in expense %}
            <tr>
              <td>{{trans[2]}}</td>
              <td>{{trans[4]}}</td>
              <td><span class="badge {{trans[5]}}">{{trans[5]}}</span></td>
              <td>৳ {{trans[3]}}</td>
              <td>{{trans[6]}}</td>
              <td>{{trans[7]}}</td>
              <td><a href="/edit_transaction/{{trans[0]}}"><button class="action-btn">Edit</button></a></td>
            </tr>
               {% endfor %}
            {% else %}
              <tr>
                <td colspan="7">No transactions found.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </section>
{% endblock %}